*{
    margin: 0px;    
    padding: 0px;
    text-align: center;

}

h1{
    background-color: #081b31;
    color: aliceblue;
    text-align: center;
    line-height: 50px;
    height: 60px;
    margin-bottom: 20px ;
}

.choice{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.choice:hover{
    /* opacity: 0.5; */
    cursor: pointer;
    background-color: #081b31;
}
img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50px;


}

.choices{
    width: 100vw;
    display: flex;
    justify-content: center;
   
}

.score-board{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;    
    align-items: center;
    margin-top: 2rem;
    gap: 5rem;
}

#user-score, #comp-score{
    font-size: 4rem;
}

#msg{
    margin-top: 4rem;   
    background-color: #081b31;
    color: aliceblue;
    font-size: 2rem;
    display: inline-flex;
    border-radius: 1rem;
    padding: 10px;
}

